body {
	background-color: teal;
  font-family: 'Source Sans Pro', sans-serif;
}

#all-pets{
	background-color: purple;
	text-align: center;
}

.individual-pet{
	border-style: groove;
	border-width: 2px;
    border-color: green;
}
button:hover { background-color: yellow;
}
button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: blue; 
  border-color: green;
   border-radius: 8px;
}
p {
  background-color: #8ADCAE
}
div:hover{
  background-color: #ECA53A;
  transition: background-color 2s;
}
link{
  color: #CAC5D7;
  
}
link: visited{
  color: #B68DAF
}
